# Host Port Customizations
PORT_GATEWAY=80
PORT_DB=5432

# Scaling Instance / Replica Configurations
FRONTEND_REPLICAS=2
BACKEND_REPLICAS=2

# PostgreSQL Configurations
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_JDBC_URL=jdbc:postgresql://db:5432/postgres
